body{
    font-family:sans-serif;
}

h1{
    text-align:center;
    margin:10px;
}

.flex-container{
    display:flex;
    flex-direction:row;
    width:100%;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-start;
}

.flex-container>div{
    border:solid 1px black;
    width:24%;
    margin:0.25%;
}